.input{
    border: none;
    box-shadow: 0px 0px 2px 1px var(--thirdColor);
    width: 99%;
    font-size: 1.2em;
    padding: 0.5em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0em;
    margin-bottom: 0.5em;
    border-radius: 3px;
    font-weight: bold;
    color: var(--firstColor);
}

.input:focus{
    outline: none;
}

.input_title{
    font-size: 1em;
    align-self: flex-start;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--fourthColor);
    text-shadow: 1px 1px black;
}