.button{
    background-color: var(--firstColor);
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    height: 3em;
    color: var(--fourthColor);
    border: none;
    box-shadow: 0px 0px 1px 2px var(--fourthColor);
    border-radius: 3px;
    text-shadow: 1px 1px black;
}

.button:active{
    box-shadow: 0px 0px 2px 1px var(--firstColor);
}

.button:focus{
    outline: none;
}