.modal_component{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
}

.modal{
    width: 25em;
    height: auto;
    background-color: var(--thirdColor);
    box-shadow: 0px 0px 3px 1px var(--firstColor);
    color: var(--firstColor);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.modal button{
    margin-top: 1em;
}

.modal button:last-child{
    background-color: rgb(220, 20, 20);
}